# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
flutter_*.png
*.flutter-plugins
*.flutter-plugins-dependencies
*.flutter-versions
*.flutter-configuration

# Android related
/android/.gradle/
/android/local.properties
/android/app/debug/
/android/app/profile/
/android/app/release/

# iOS related
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/App.framework
/ios/Flutter/Generated.xcconfig
/ios/Flutter/ephemeral/

# Misc
*.iml
*.lock
*.log
*.tmp
*.swp
.DS_Store
.idea/
